# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Mac & Win
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Thumbs.db

temp
demo/*_demo.fla
demo/demo.fla
demo/demo.swf
demo/demo*
demo/demo.app*
AOTBuildOutput*
projects/xcode/JSSpiderANE/Build*
projects/xcode/JSSpiderANE/DerivedData*
projects/xcode/JSSpiderANE/DerivedData/

demo/demo.ipa

projects/xcode/JSCoreANE
projects/xcode/JSSpiderANE/libjs_static.i386.a

projects/xcode/JSSpiderANE/libjs_static.armv7.a

projects/xcode/JSSpiderANE/libjs_static.armv7s.a

projects/android/jni/*

projects/android/so/*

projects/android/so_arm/libs/*
projects/android/so_arm/obj/*
projects/android/so_x86/libs/*
projects/android/so_x86/obj/*


as3/alegorium/JSSpiderANE.swc

projects/android/so_arm/jni/libjs_staticARM7.a

projects/android/so_x86/jni/libjs_static.a

projects/win32/etc
projects/win32/AIR_DLL/Win32Project1/ipch

projects/xcode/JSSpiderANE/JSSpiderANE.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate

projects/win32/AIR_DLL/Win32Project1/Win32Project1/Release/

projects/win32/AIR_DLL/Win32Project1/Release/Win32Project.exp

projects/win32/AIR_DLL/Win32Project1/Release/Win32Project.pdb

projects/win32/AIR_DLL/Win32Project1/Win32Project1.sdf
